:root {
  --text: black;
  --meta-text: #636a66;
  --highlight: rgb(68, 121, 68);
  --link: rgb(68, 121, 68);
  --visited-link: rgb(37, 65, 37);
  --code-text: rgb(46, 82, 46);
  --code-background: rgb(224, 245, 230);
  --border: #ddd;
  --bg: rgb(248, 251, 243);
  --secondary-text: rgb(64, 64, 64);
  --header: var(--text);
  
  --container-width: 735px;
  --container-padding: 15px; /* done in bootstrap */
  --sidenote-max-width: 320px;
  --content-padding: 25px;
  --outside-padding: 25px; /* this is added to by padding-left for the even-sidenotes to give more buffer from ToC */
}
::selection {
  background: var(--highlight);
  color: #fff;
}
::-moz-selection {
  background: var(--highlight);
  color: #fff;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@font-face {
  font-family: 'Crimson Pro';
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-style: normal; /* See note below */
  font-weight: 340 700;
  src: url('/themes/folium/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.woff2') format('woff2');
}
@font-face {
  font-family: 'Drop Cap';
  src: url('/themes/folium/fonts/dropcap.woff2') format('woff2'), url('/themes/folium/fonts/dropcap.ttf') format('truetype');
}
body {
  font: 20px "Crimson Pro", serif;
  font-weight: 340;
  background: var(--bg);
  color: var(--text);
  font-smooth: always;
  overscroll-behavior-x: none;
}
a {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  color: var(--link);
  position: relative;

  text-decoration-skip: ink;
}
a.inline {
  text-decoration: underline;
  text-decoration-color: var(--link);
  text-underline-offset: 0.1em;
  transition: none;
}
article[id] a.inline:visited {
  color: var(--visited-link);
  text-decoration-color: var(--visited-link);
}
article[id] a.inline:hover {
  color: var(--link);
  text-decoration-color: var(--link);
  text-decoration-thickness: 0.14em;
  text-decoration-skip-ink: none;
}
a:hover, a:focus {
  color: var(--link);
}
hr {
  border-top: 1px solid color-mix(in srgb, var(--bg) 85%, black);
}
/* Get strikethrough to render in the right place */
s {
  text-decoration: underline var(--text) .1em;
  text-underline-offset: -.25em;
  text-decoration-skip-ink: none;
}
/** Table **/
table {
  margin: 0 auto 10px auto;
  text-align: center;
}
td, th {
  padding: 2px;
}
/* Header linking */
article > h2,
article > h3,
article > h4,
article > h5,
article > h6,
section#comments > h2 {
  padding-top: 20px;
  margin-top: 0px;
  cursor: pointer;
  position: relative;
}
article > h2:hover:before,
article > h3:hover:before,
article > h4:hover:before,
article > h5:hover:before,
article > h6:hover:before,
section#comments > h2:hover:before {
  content: '#';
  color: #777777;
  position: absolute;
  padding-right: 7px;
  left: -20px;
}
.container {
  width: var(--container-width);
  min-height: calc(100vh - 228px);
}
.padding-container {
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.container-wide {
  margin: 0 auto;
  width: 900px;
}
/** Header Selection */
.trigger {
  display: flex;
  gap: 12px;
  flex-direction: column;
  position: fixed;
  border-radius: 5px;
  padding: 12px 5px;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) scale(.99);
  background: none;
  border: none;
  line-height: 1em;
  font-size: 0.8em;
  outline: none;
  font-family: bold;
  cursor: pointer;
  opacity: 0.8;

  transition: 0.3s ease;
}
.trigger:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  background-color: color-mix(in srgb, var(--bg) 95%, black);
}
.trigger span {
  height: 1px;
  background-color: #868787;
  width: 12px;
}
.trigger span.header3 {
  width: 10px;
  margin-left: 2px;
}
.trigger span.header4 {
  width: 8px;
  margin-left: 4px;
}
.trigger span.active {
  background-color: #363737;
}
.table-of-contents {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  border-radius: 5px;
  left: 35px;
  top: 50%;
  transform: translateY(-50%) scale(.99);
  background: none;
  border: 1px solid #e6e6e6;
  line-height: 1.2em;
  width: 240px;
  overflow-x: clip;
  cursor: default;
  outline: none;
  font-family: bold;
  transition: 0.3s ease;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, .1), 0px 4px 6px -2px rgba(0, 0, 0, .05);
  padding: 8px;
  background: color-mix(in srgb, var(--bg) 98%, white);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.table-of-contents span.contents {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .2px;
  padding: 4px;
  font-weight: 500;
}
.table-of-contents button#top-jump {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  border: none;
  background: none;
  
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .2px;
  padding: 2px 8px;
  font-weight: 500;

  &:hover {
    font-weight: 600;
  }
}
.table-of-contents .link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #868787;
  font-weight: 400;
  font-size: 15px;
  padding: 4px;

  cursor: pointer;

  transition: 0.3s ease;

  text-decoration: none !important;
}
.table-of-contents .link.header3 {
  margin-left: 10px;
}
.table-of-contents .link.header4 {
  margin-left: 20px;
}
.table-of-contents .link.active, .table-of-contents .link:hover {
  color: #363737;
}
/** Sidenotes */
.sidenote-indicator {
  margin-left: -3px;
}
.sidenote {
  float: right;
  clear: right;
  text-align: left;
  --gutter-width: calc((100vw - var(--container-width) + var(--container-padding) * 2) / 2);
  --sidenote-width: calc(var(--gutter-width) - var(--content-padding) - var(--outside-padding));
  width: min(var(--sidenote-max-width), var(--sidenote-width));
  font-size: 0.9em;
  line-height: 1.3;
  --margin: max(
    calc(-1 * (var(--sidenote-max-width) + var(--content-padding))),
    calc(-1 * (var(--sidenote-width) + var(--content-padding)))
  );
  margin-right: var(--margin);
  color: var(--secondary-text);
  white-space: nowrap;
  margin-bottom: 15px;
}
.sidenote .text {
  white-space: normal;
}
.sidenote img, .sidenote video {
  margin-top: 5px;
  margin-bottom: 5px;
}
.even-sidenote {
  float: left;
  clear: left;
  margin-right: 0;
  margin-left: var(--margin);
  text-align: right;
  padding-left: 20px;
}
.sidenote::before {
  content: attr(data-footnote-index) " ";
  left: -0.2em;
  top: -0.3em;
  font-size: 0.9em;
  position: relative;
}
blockquote .sidenote-wrapper {
  font-size: 20px;
  /* In case it's inside an italicized quote */
  font-style: normal;
}
blockquote .sidenote {
  margin-right: calc(var(--margin) - 20px);
}
blockquote .even-sidenote {
  margin-left: calc(var(--margin) - 20px - 5px); /* has to account for 5px green line on blockquote */
}
li .even-sidenote {
  margin-left: calc(var(--margin) - 20px - 20px); /* has to account for indent on list */
}
/* Footnotes corresponding with sidenotes */
.footnotes img {
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin: 0;
}
.footnotes li > p {
  /* Makes sure the line marker works with photos and videos */
  display: inline-block;
  vertical-align: top;
}
.img-splash {
  height: 250px;
  width: 100%;
  background: no-repeat center #f0f0f0;
  background-size: cover;
}
.img-row {
  margin-bottom: 10px;
}
.img-row-text, .img-row-images {
  display: flex;
  justify-content: space-evenly;
  gap: 0.7vw;
}
.img-row-text span {
  flex: 1;
}
.img-row-images span {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-row img {
  max-height: 500px;
}
/** Code */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  font-size: 75%;
}
pre[class*="language-"] {
  padding: 38.5px 18px 13.5px 18px;
  margin: 20px -10px;
  border-radius: 7px;
}
:not(pre) > code {
  padding:2px 4px;
  font-size:90%;
  border-radius:4px;
  color: var(--code-text);
  background-color: var(--code-background);
  font-size: 80%;
}
/** Disable line highlight indicators */
.line-highlight:before, .line-highlight[data-end]:after {
  content: "";
}
.line-highlight {
  background: linear-gradient(to right,#0D873226 70%,#0D873200);
  border-left: 0.3em solid var(--link);
  margin-top: 38px;
}
/**
  Code toolbar
*/
@font-face {
  font-family: 'Font Awesome';
  src: url('/themes/folium/fonts/fa-solid-900-subset.woff2');
}
div.code-toolbar>.toolbar {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
.toolbar .toolbar-item {
  margin-top: -2px;
}
.toolbar .toolbar-item:first-of-type {
  margin-left: 10px;
  color: #8292a2 !important;
}
.toolbar .toolbar-item:first-of-type:before {
  content: "\f121";
  font-family: 'Font Awesome';
  color: #8292a2;
  font-size: 13px;
}
div.code-toolbar>.toolbar>.toolbar-item>a, div.code-toolbar>.toolbar>.toolbar-item>button, div.code-toolbar>.toolbar>.toolbar-item>span {
  background: none;
  user-select: none;
  box-shadow: none;
  color: #8292a2;
}
div.code-toolbar>.toolbar>.toolbar-item>a:focus, div.code-toolbar>.toolbar>.toolbar-item>a:hover, div.code-toolbar>.toolbar>.toolbar-item>button:focus, div.code-toolbar>.toolbar>.toolbar-item>button:hover, div.code-toolbar>.toolbar>.toolbar-item>span:focus, div.code-toolbar>.toolbar>.toolbar-item>span:hover {
  color: #8292a2;
}
div.code-toolbar>.toolbar>.toolbar-item>button {
  padding: 3px 5px;
}
.toolbar .toolbar-item:nth-of-type(2) button:hover {
  background-color: #8292a2;
  color: #272822 !important;
}
.toolbar .toolbar-item:nth-of-type(2):hover div.code-toolbar>.toolbar>.toolbar-item>button {
  color: #272822;
}
.toolbar .toolbar-item:nth-of-type(2) button:hover:before {
  color: #272822;
}
.toolbar .toolbar-item:nth-of-type(2) button:before {
  content: "\f328";
  font-family: 'Font Awesome';
  color: #8292a2;
  font-size: 13px;
  margin-right: 5px;
}

p.del, p.break {
  display: none;
}

p.del + pre, pre.del {
  background-color: #5a0c21;
}

p.del + pre:has(> code):before, pre:has(> code).del:before {
  background-color: #f9d9db;
  border-bottom: 13px solid #f9d9db;
}

kbd {
  white-space: nowrap;
}
/*
 * Header Nav
 */
.navbar-header {
  margin: auto;
  float: none;
}
header#top {
  border-bottom: 6px solid var(--link);
  margin-bottom: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}
header#top nav {
  background: color-mix(in srgb, var(--bg) 90%, white);
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-bottom-color: #eee;
  margin-bottom: 0;
  min-height: 80px;
  display: flex;
}
header#top nav .navbar-brand {
  background: 10px center transparent no-repeat;
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;

  font-size: 35px;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: initial;
  color: var(--text);
}
header#top nav .navbar-brand img {
  width: 37px;
  margin-right: 5px;
}
header#top img.admin {
  transform: rotate(180deg);
}
.navbar-default .navbar-collapse {
  position: absolute;
  right: 0px;
}
header#top nav ul {
  margin: 0;
}
header#top nav ul li a {
  font-weight: 600;
  color: #888888;
  padding: 30px 15px;
}
header#top nav ul li a:hover {
  color: var(--text);
}
header#top nav ul li a[href='/subscribe'] {
  color: #666;
}
header#top nav a {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header#top nav li.active > a {
  background: color-mix(in srgb, var(--bg) 98%, black);
  color: #999999;
}
header#top nav li.active > a:hover {
  color: #999999;
}
header#top .navbar-default .navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
}
/**
 *  List of Posts
 */
#previousPosts {
  padding: 0 25px 50px 25px;
}
#previousPosts.page {
  padding: 0 0 50px 0;
}
#previousPosts .year {
  padding-left: 10px;
  font-size: 22px;
}
#previousPosts li {
  display: block;
}
.articleLink {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 3px;
  transition: 0.3s ease;
}
.articleLink .name {
  font-weight: 400;
  transition: 0.2s ease;
  padding-right: 10px;
}
.articleLink .date {
  opacity: 0;
  transition: 0.3s ease;
}
/* Only do hover animations for non-mobile */ 
@media (hover: hover) and (pointer: fine) {
  .articleLink:hover {
    background-color: var(--code-background);
    text-decoration: none;
  }
  .articleLink:hover .name {
    font-weight: 600;
    padding-right: 0px;
  }
  .articleLink:hover .date {
    opacity: 1;
  }
}
/**
 * File Objects
 */
f {
  border: 1px solid var(--code-text);
  background-color: #f9f9f9;
  padding: 1px 5px;
  text-wrap: nowrap;
  font-size: 0.93em;
  border-radius: 5px;
  background: transparent;
}
/*
 *  Article
 */
.mainWrapper {
  width: calc(100% - 390px);
  padding-left: 10px;

  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
main {
  margin-top: 20px;
}
main article {
  padding-bottom: 25px;
  margin-bottom: 5px;
  border-bottom: 2px solid #eee;
  word-break: break-word;
  font-family: "Crimson Pro", serif;

  font-size: 20px;
  line-height: 28px;
  padding-bottom: 25px;
  color: var(--text);
}
main article[id] > p:nth-of-type(1)::first-letter {
  font-family: "Drop Cap", serif;
  font-size: 4em;
  float: left;
  line-height: 1em;
  margin-right: 0.05em;
  margin-top: 0.05em;
  color: var(--link);
}
main article:last-of-type {
  border-bottom: none;
}
main article header {
  margin-bottom: 15px;
}
main article[id] header {
  margin-top: -15px;
}
main article header h1 {
  font-size: 42px;
  line-height: 48px;
  color: var(--header);
}
main article[id] header h1 {
  color: var(--link);
  font-size: 60px;
  line-height: 52px;
}
main article header h1 a {
  color: var(--header);
}
main article header h1 a:hover {
  color: var(--header);
}
main article header .meta {
  font-size: 18px;
  font-style: italic;
  color: var(--meta-text);
  margin-top: 15px;
}
/** Tags (TODO: CLEAN THIS UP) */
main article header .tag {
  background-color: var(--link);
  /* border: 3px solid var(--link); */
  /* color: var(--meta-text); */
  /* color: var(--link); */
  color: white;
  font-weight: 500;
  font-style: normal;
  padding: 2px 7px;
  border-radius: 10px 0px 10px 0px;
  position: relative;
  margin: 0px 9px;
  display: inline-block;

  clip-path: shape(
    from 0% 50%,
    curve to 50% 0% with -1% 0%,
    curve to 100% 50% with 101% 0%,
    curve to 50% 100% with 101% 100%,
    curve to 0% 50% with -1% 100%,
    close
  );

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--link);
    left: -3px;
    bottom: -2px;
    width: 3px;
    height: 8px;
    transform-origin: bottom;
    transform: rotate(-135deg);
  }
}
main img {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  display: block;
}
main img.post-preview {
  width: 50px;
}

main img.pixelated {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

blockquote {
  border-left: 5px solid var(--link);
  font-size: 0.96em;
}

main video {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
main article h1,
main article h2,
main article h3,
main article h4 {
  font-weight: 400;
}
main article h2 {
  padding-top: 15px;
}
main article h3 {
  padding-top: 10px;
}
main article h4 {
  font-size: 22px;
  padding-top: 5px;
}
main .pager {
  margin-bottom: 50px;
}
main .pager a {
  font-size: 13px;
  color: #848484;
}
main .pager a:hover {
  color: var(--text);
}
main .list-unstyled li {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
main .list-unstyled li:last-of-type {
  border-bottom: none;
}
main .list-unstyled li h2 {
  padding: 0;
  margin: 0;
}
main .list-unstyled li h2 a {
  font-size: 20px;
  color: #777777;
}
main a[href*='/admin/posts'] {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 13px;
  color: #848484;
  float: right;
  margin-bottom: 10px;
}
main a[href*='/admin/posts']:hover, 
main a[href*='/admin/posts']:focus {
  text-decoration: none;
  background-color: #eee;
}
section#comments h2 {
  font-weight: 300;
  color: #777777;
  margin-bottom: 20px;
}
section#comments .commentlist {
  padding: 0;
  margin-bottom: 40px;
}
section#comments .commentlist li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
}
section#comments .commentlist li:hover {
  background: rgba(0, 0, 0, 0.03);
}
section#comments .commentlist li header {
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 5px;
  background: url('../img/person.png') 5px center no-repeat transparent;
}
section#comments .commentlist li header h2 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
section#comments .commentlist li header h2,
section#comments .commentlist li header time {
  font-size: 15px;
  color: #919191;
}
section#comments .commentlist li header time {
  color: #c3c3c3;
}
section#comments .commentlist li p {
  color: #919191;
  font-size: 17px;
  line-height: 26px;
  padding-left: 50px;
  word-break: break-word;
}
section#comments .notification .success {
  padding: 5px;
  color: var(--text);
  background: #2ecc71;
}
form#comment {
  margin-bottom: 20px;
}
form#comment input,
form#comment button {
  margin: 10px 0;
}
/*
 *  Footer
 */
footer {
  background: color-mix(in srgb, var(--bg) 98%, black);
  border-top: 4px solid var(--link);
  color: var(--meta-text);
  padding: 50px 0;
  font-size: 16px;
  position: relative;
}
footer p {
  float: left;
  margin: 0;
  line-height: 20px;
}
footer nav > ul.navbar-nav {
  background: none;
  padding-right: 10px;
}
footer nav > ul.navbar-nav li > a {
  padding: 0 5px;
  color: #777777;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
}
footer nav > ul.navbar-nav li > a:hover {
  background: none;
  color: var(--text);
}
/*
 *  Search
 */
#search {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: color-mix(in srgb, var(--bg) 93%, transparent);
  display: none;
}
#search .cell {
  display: table-cell;
  vertical-align: middle;
}
#search .cell .cell-inner {
  width: 60%;
  margin: 0 auto;
}
#search .cell .cell-inner input[type="text"] {
  border: 1px solid #cccccc;
  border-radius: 50px;
  outline: none;
  width: 100%;
}
#search .cell .cell-inner input[type="text"]:focus {
  border-color: #999999;
}
#search .close {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 3px 8px;
  background: none;
  font-size: 30px;
}
/** Retina screens */
@media (min-resolution: 192dpi) {
  a.inline {
    text-decoration-thickness: 0.07em;
  }
  .trigger span {
    height: 1.5px;
  }
}
@media only screen and (max-width: 845px) {
  aside {
    display: none;
  }
  .mainWrapper {
    width: 100%;
  }
}
/* Calculated as --sidenote-max-width * 2 + --content-padding * 2 + --container-width + 55 for ToC */
@media only screen and (min-width: 1480px) {
  .even-sidenote {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 58.3%;
  }
  .sidenote {
    width: 33%;
    margin-right: -37%;
  }
  blockquote .sidenote {
    margin-right: calc(-37% - 20px);
  }
  .even-sidenote {
    margin-left: -37%;
    margin-right: 0;
  }
  blockquote .even-sidenote {
    margin-left: calc(-37% - 28px);
  }
}
@media only screen and (max-width: 950px) {
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row .col-md-5,
  .row .col-md-7 {
    display: block;
  }
  .row .col-md-5:before,
  .row .col-md-7:before,
  .row .col-md-5:after,
  .row .col-md-7:after {
    content: " ";
    display: table;
  }
  .row .col-md-5:after,
  .row .col-md-7:after {
    clear: both;
  }
  .row .col-md-5 p,
  .row .col-md-7 p {
    text-align: center;
    display: block;
    width: 100%;
  }
  .row .col-md-5 nav > ul.navbar-nav > li,
  .row .col-md-7 nav > ul.navbar-nav > li {
    font-size: 15px;
  }
  .row .col-md-5 nav > ul.navbar-nav > li a,
  .row .col-md-7 nav > ul.navbar-nav > li a {
    padding: 5px;
    text-align: center;
  }
  .container .row,
  .container-wide .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container .row .col-md-5,
  .container-wide .row .col-md-5,
  .container .row .col-md-7,
  .container-wide .row .col-md-7 {
    display: block;
  }
  .container .row .col-md-5:before,
  .container-wide .row .col-md-5:before,
  .container .row .col-md-7:before,
  .container-wide .row .col-md-7:before,
  .container .row .col-md-5:after,
  .container-wide .row .col-md-5:after,
  .container .row .col-md-7:after,
  .container-wide .row .col-md-7:after {
    content: " ";
    display: table;
  }
  .container .row .col-md-5:after,
  .container-wide .row .col-md-5:after,
  .container .row .col-md-7:after,
  .container-wide .row .col-md-7:after {
    clear: both;
  }
  .container .row .col-md-5 p,
  .container-wide .row .col-md-5 p,
  .container .row .col-md-7 p,
  .container-wide .row .col-md-7 p {
    text-align: center;
    display: block;
    width: 100%;
  }
  .container .row .col-md-5 nav > ul.navbar-nav > li,
  .container-wide .row .col-md-5 nav > ul.navbar-nav > li,
  .container .row .col-md-7 nav > ul.navbar-nav > li,
  .container-wide .row .col-md-7 nav > ul.navbar-nav > li {
    font-size: 15px;
  }
  .container .row .col-md-5 nav > ul.navbar-nav > li a,
  .container-wide .row .col-md-5 nav > ul.navbar-nav > li a,
  .container .row .col-md-7 nav > ul.navbar-nav > li a,
  .container-wide .row .col-md-7 nav > ul.navbar-nav > li a {
    padding: 5px;
    text-align: center;
  }
  .container-wide {
    width: 100%;
  }
}
@media only screen and (max-width: 790px) {
  /* Bootstrap has a 786px cutover, this bridges the nav bar */
  .navbar-nav>li {
    float: none;
  }
  .navbar-right {
    float: none !important;
  }
  article > h2:hover:before,
  article > h3:hover:before,
  article > h4:hover:before,
  article > h5:hover:before,
  article > h6:hover:before,
  section#comments > h2:hover:before {
    content: '';
  }
  article > h2:hover:after,
  article > h3:hover:after,
  article > h4:hover:after,
  article > h5:hover:after,
  article > h6:hover:after,
  section#comments > h2:hover:after {
    content: '#';
    color: #777777;
    padding-left: 5px;
  }
  .table-of-contents {
    right: 43px;
    left: auto;
    top: 55px;
    transform: initial; 
  }
  .trigger {
    display: none;
    position: fixed;
    z-index: 2;
    top: 1em;
    right: 1em;
    left: auto;
    opacity: 1;
    transform: initial;
    background-color: color-mix(in srgb, var(--bg) 95%, white);
    border: 1px solid var(--border);

    width: 36px;
    height: 36px;
    border-radius: 18px;

    float: right;
  }
  .trigger.mobile-show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trigger:before {
    content: "\e056";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
  }
  .trigger:hover {
    transform: initial;
    background-color: color-mix(in srgb, var(--bg) 96%, black);
  }
  .trigger span {
    display: none;
  }
  /* Swap the order when sidenotes autocollapse so that they appear below. */
  .img-row {
    display: flex;
    flex-direction: column;
  }
  .img-row-footnotes {
    order: 2;
  }
  .sidenote {
    display: none;
    float: none;
    clear: both;
    width: calc(100vw - 2 * var(--container-padding) - 2em);
    margin: 1em;
    text-align: left;
  }
  .even-sidenote {
    padding-left: 0px;
  }
  blockquote .sidenote, blockquote .even-sidenote {
    margin: 1em;
  }
  li .sidenote, li .even-sidenote {
    /* offset the 40px ul indent + 1em margin */
    margin-left: calc(-40px + 1em);
  }
  .sidenote.visible {
    display: block;
  }
  .sidenote-indicator {
    color: var(--link);
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--link);
    margin-left: -1px;
  }
  .articleLink .date {
    display: none;
  }
  footer {
    padding: 25px;
  }
  pre[class*="language-"] {
    margin: 15px -5px;
  }
  header#top .navbar-toggle:hover,
  header#top .navbar-toggle:focus {
    background: #f8f8f8;
  }
  header#top nav .navbar-collapse {
    padding: 0;
    position: initial;
  }
  header#top nav {
    display: block;
  }
  header#top .navbar-default .navbar-toggle {
    position: absolute;
    right: 0px;
    top: 4px;
  }
  header#top .navbar-brand {
    padding-top: 5px;
  }
  header#top .navbar-brand strong {
    display: block;
  }
  .container {
    width: 100%;
  }
}

@media print {
  aside {
    display: none;
  }

  .mainWrapper {
    width: 100%;
  }

  form {
    display: none;
  }

  a[data-fancybox="gallery"]:after {
    display: none !important;
  }
}