::selection {
  background: #14cf4d;
  color: #fff;
}
::-moz-selection {
  background: #14cf4d;
  color: #fff;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@font-face {
  font-family: 'Crimson Pro';
  font-stretch: normal; /* Note that font-stretch is a % of normal width */
  font-style: normal; /* See note below */
  font-weight: 340 700;
  src: url('/themes/folium/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Graphik';
  src: url('/themes/folium/fonts/Graphik-Regular.otf');
}
body {
  font: 19px "Crimson Pro", serif;
  font-weight: 340;
  background: #fff;
  color: #444444;
  font-smooth: always;
  overscroll-behavior-x: none;
}
a {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  color: #14cf4d;
  position: relative;

  text-decoration-skip: ink;
}
a:hover {
  color: #14cf4d;
}
/* Header linking */
article h2,
article h3,
article h4,
article h5,
article h6,
section#comments > h2 {
  padding-top: 20px;
  margin-top: 0px;
  cursor: pointer;
  position: relative;
}
article h2:hover:before,
article h3:hover:before,
article h4:hover:before,
article h5:hover:before,
article h6:hover:before,
section#comments > h2:hover:before {
  content: '#';
  color: #777777;
  position: absolute;
  padding-right: 7px;
  left: -20px;
}
.container {
  width: 700px;
}
.padding-container {
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.container-wide {
  margin: 0 auto;
  width: 900px;
}
.img-splash {
  height: 250px;
  width: 100%;
  background: no-repeat center #f0f0f0;
  background-size: cover;
}
code {
  color: #12bd46;
  background-color: #f1fef3;
  font-size: 80%;
}
pre {
  color: #12bd46;
  background-color: #f1fef3;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  padding: 0;
}
pre code {
  display: block;
  margin-left: 35px;
  position: relative;
  padding: 13px 4px 13px 8px;
  font-size: 70%;
  white-space: pre;
  overflow-x: scroll;
}

pre:has(> code):before {
  height: 100%;
  font-size: 70%;
  color: #ABABAB;
  position: absolute;
  background-color: #c8feca;
  left: 0px;
  top: 0;
  padding: 13px 4px 0 0;
  border-bottom: 13px solid #c8feca;
  width: 35px;
  word-break: break-word;
  white-space: pre-wrap;
  direction: rtl;
  overflow: hidden;
  content: "1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";
}

.copy-button {
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 3px;
  border: 1px solid #12bd46;
  background-color: #f1fef3;
  padding: 0px 6.5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  transition: 0.2s ease;
}

.copy-button.success {
  font-size: 1.4em;
}

.copy-button.failure {
  font-size: 1em;
  background-color: #f9f2f4 !important;
  border-color: #c7254e;
  color: #c7254e;
}

.copy-button:hover {
  background-color: #c8feca;
}

p.del, p.break {
  display: none;
}

p.del + pre, pre.del {
  color: #c7254e;
  background-color: #f9f2f4;
}

p.del + pre:has(> code):before, pre:has(> code).del:before {
  background-color: #f9d9db;
  border-bottom: 13px solid #f9d9db;
}

kbd {
  white-space: nowrap;
}
/*
 * Header Nav
 */
.navbar-header {
  margin: auto;
  float: none;
}
header#top {
  background: -webkit-linear-gradient(90deg, #006841, #00b59e);
  background: -moz-linear-gradient(90deg, #006841, #00b59e);
  background: -ms-linear-gradient(90deg, #006841, #00b59e);
  background: -o-linear-gradient(90deg, #006841, #00b59e);
  background: linear-gradient(90deg, #006841, #00b59e);
  padding-top: 6px;
  margin-bottom: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}
header#top nav {
  background: #fff;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-bottom-color: #eee;
  margin-bottom: 0;
  min-height: 80px;
  display: flex;
}
header#top nav .navbar-brand {
  background: 10px center transparent no-repeat;
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;

  font-size: 35px;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: initial;
  color: #444444;
}
header#top nav .navbar-brand img {
  width: 37px;
  margin-right: 5px;
}
.navbar-default .navbar-collapse {
  position: absolute;
  right: 0px;
}
header#top nav ul {
  margin: 0;
}
header#top nav ul li a {
  font-weight: 600;
  color: #888888;
  padding: 30px 15px;
}
header#top nav ul li a:hover {
  color: #555555;
}
header#top nav a {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header#top nav li.active > a {
  background: #f9f9f9;
  color: #999999;
}
header#top nav li.active > a:hover {
  color: #999999;
}
header#top .navbar-default .navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
}
/*
 *  Sidebar
 */
aside {
  background-color: #f9f9f9;
  width: 370px;
  padding: 15px 25px;
  float: right;
  margin-left: 30px;
  -webkit-box-shadow: -1px 0 10px -2px rgba(0,0,0,.3);
  box-shadow: -1px 0 10px -2px rgba(0,0,0,.3);
}
aside .description {
  font-weight: bold;
  margin: 15px 0;
}
/**
 *  List of Posts
 */
#previousPosts {
  padding: 0 25px 50px 25px;
}
#previousPosts .year {
  padding-left: 10px;
  font-size: 22px;
}
#previousPosts li {
  display: block;
}
.articleLink {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 3px;
  transition: 0.3s ease;
}
.articleLink .name {
  font-weight: 400;
  transition: 0.2s ease;
}
.articleLink .date {
  opacity: 0;
  transition: 0.3s ease;
}
/* Only do hover animations for non-mobile */ 
@media (hover: hover) and (pointer: fine) {
  .articleLink:hover {
    background-color: #f1fef3;
    text-decoration: none;
  }
  .articleLink:hover .name {
    font-weight: 600;
  }
  .articleLink:hover .date {
    opacity: 1;
  }
}
/*
 *  Article
 */
.mainWrapper {
  width: calc(100% - 390px);
  padding-left: 10px;

  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
main {
  margin-top: 20px;
}
main article {
  padding-bottom: 25px;
  margin-bottom: 5px;
  border-bottom: 2px solid #eee;
  word-break: break-word;
  font-family: "Crimson Pro", serif;

  font-size: 19px;
  line-height: 27px;
  padding-bottom: 25px;
  color: #777777;
}
main article:last-of-type {
  border-bottom: none;
}
main article header {
  margin-bottom: 20px;
}
main article header h1 {
  font-size: 42px;
  line-height: 48px;
  color: #444444;
}
main article header h1 a {
  color: #444444;
}
main article header h1 a:hover {
  color: #444444;
}
main article header .meta {
  font-size: 18px;
  font-style: italic;
  color: #aaaaaa;
  margin-top: -5px;
}
main article header .meta a {
  color: #444444;
}
main img {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  display: block;
}
main img[title="full"] {
  max-width: none;
}

main img.pixelated {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

main video {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
main article h1,
main article h2,
main article h3 {
  font-weight: 400;
}
main .pager {
  margin-bottom: 50px;
}
main .pager a {
  font-size: 13px;
  color: #848484;
}
main .pager a:hover {
  color: #444444;
}
main .list-unstyled li {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
main .list-unstyled li:last-of-type {
  border-bottom: none;
}
main .list-unstyled li h2 {
  padding: 0;
  margin: 0;
}
main .list-unstyled li h2 a {
  font-size: 20px;
  color: #777777;
}
main a[href*='/admin/posts'] {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 13px;
  color: #848484;
  float: right;
}
main a[href*='/admin/posts']:hover, 
main a[href*='/admin/posts']:focus {
  text-decoration: none;
  background-color: #eee;
}
section#comments h2 {
  font-weight: 300;
  color: #777777;
  margin-bottom: 20px;
}
section#comments .commentlist {
  padding: 0;
  margin-bottom: 40px;
}
section#comments .commentlist li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
}
section#comments .commentlist li:hover {
  background: #f7f7f7;
}
section#comments .commentlist li header {
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 5px;
  background: url('../img/person.png') 5px center no-repeat transparent;
}
section#comments .commentlist li header h2 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
section#comments .commentlist li header h2,
section#comments .commentlist li header time {
  font-size: 15px;
  color: #919191;
}
section#comments .commentlist li header time {
  color: #c3c3c3;
}
section#comments .commentlist li p {
  color: #919191;
  font-size: 17px;
  line-height: 26px;
  padding-left: 50px;
}
section#comments .notification .success {
  padding: 5px;
  color: #444;
  background: #2ecc71;
}
form#comment {
  margin-bottom: 20px;
}
form#comment input,
form#comment button {
  margin: 10px 0;
}
/*
 *  Footer
 */
footer {
  background: #f6f6f6;
  border-top: 1px solid #dddddd;
  color: #919191;
  padding: 50px 0;
  font-size: 16px;
  position: relative;
}
footer p {
  float: left;
  margin: 0;
  line-height: 20px;
}
footer nav > ul.navbar-nav {
  background: none;
  padding-right: 10px;
}
footer nav > ul.navbar-nav li > a {
  padding: 0 5px;
  color: #777777;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
}
footer nav > ul.navbar-nav li > a:hover {
  background: none;
  color: #444444;
}
/*
 *  Search
 */
#search {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: none;
}
#search .cell {
  display: table-cell;
  vertical-align: middle;
}
#search .cell .cell-inner {
  width: 60%;
  margin: 0 auto;
}
#search .cell .cell-inner input[type="text"] {
  border: 1px solid #cccccc;
  border-radius: 50px;
  outline: none;
  width: 100%;
}
#search .cell .cell-inner input[type="text"]:focus {
  border-color: #999999;
}
#search .close {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 3px 8px;
  background: none;
  font-size: 30px;
}
@media only screen and (max-width: 845px) {
  aside {
    display: none;
  }
  .mainWrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .articleLink .date {
    display: none;
  }
  header#top .navbar-toggle:hover,
  header#top .navbar-toggle:focus {
    background: #f8f8f8;
  }
  header#top nav .navbar-collapse {
    padding: 0;
    position: initial;
  }
  header#top nav {
    display: block;
  }
  header#top .navbar-default .navbar-toggle {
    position: absolute;
    right: 0px;
    top: 4px;
  }
  header#top .navbar-brand {
    padding-top: 5px;
  }
  header#top .navbar-brand strong {
    display: block;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row .col-md-5,
  .row .col-md-7 {
    display: block;
  }
  .row .col-md-5:before,
  .row .col-md-7:before,
  .row .col-md-5:after,
  .row .col-md-7:after {
    content: " ";
    display: table;
  }
  .row .col-md-5:after,
  .row .col-md-7:after {
    clear: both;
  }
  .row .col-md-5 p,
  .row .col-md-7 p {
    text-align: center;
    display: block;
    width: 100%;
  }
  .row .col-md-5 nav > ul.navbar-nav > li,
  .row .col-md-7 nav > ul.navbar-nav > li {
    font-size: 15px;
  }
  .row .col-md-5 nav > ul.navbar-nav > li a,
  .row .col-md-7 nav > ul.navbar-nav > li a {
    padding: 5px;
    text-align: center;
  }
  .container,
  .container-wide {
    width: 100%;
  }
  .container .row,
  .container-wide .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container .row .col-md-5,
  .container-wide .row .col-md-5,
  .container .row .col-md-7,
  .container-wide .row .col-md-7 {
    display: block;
  }
  .container .row .col-md-5:before,
  .container-wide .row .col-md-5:before,
  .container .row .col-md-7:before,
  .container-wide .row .col-md-7:before,
  .container .row .col-md-5:after,
  .container-wide .row .col-md-5:after,
  .container .row .col-md-7:after,
  .container-wide .row .col-md-7:after {
    content: " ";
    display: table;
  }
  .container .row .col-md-5:after,
  .container-wide .row .col-md-5:after,
  .container .row .col-md-7:after,
  .container-wide .row .col-md-7:after {
    clear: both;
  }
  .container .row .col-md-5 p,
  .container-wide .row .col-md-5 p,
  .container .row .col-md-7 p,
  .container-wide .row .col-md-7 p {
    text-align: center;
    display: block;
    width: 100%;
  }
  .container .row .col-md-5 nav > ul.navbar-nav > li,
  .container-wide .row .col-md-5 nav > ul.navbar-nav > li,
  .container .row .col-md-7 nav > ul.navbar-nav > li,
  .container-wide .row .col-md-7 nav > ul.navbar-nav > li {
    font-size: 15px;
  }
  .container .row .col-md-5 nav > ul.navbar-nav > li a,
  .container-wide .row .col-md-5 nav > ul.navbar-nav > li a,
  .container .row .col-md-7 nav > ul.navbar-nav > li a,
  .container-wide .row .col-md-7 nav > ul.navbar-nav > li a {
    padding: 5px;
    text-align: center;
  }
}

@media print {
  aside {
    display: none;
  }

  .mainWrapper {
    width: 100%;
  }

  form {
    display: none;
  }

  a[data-fancybox="gallery"]:after {
    display: none !important;
  }
}